<template name="company">







			<div id='main_content'>
				
<section class='main_section first_section' id='main_section1'>
  <div class='section' id='section1'>
    <div class='center_section' id='center_section1'>
      <div class='section_title'>
        Acerca de Datax      
        </div>


        	<!-- Seccion de TABS -->
        	<div class="ui top attached tabular menu">
			  <a class="active item" data-tab="first">Datos de sección</a>
			  <a class="item" data-tab="second">Datos de sección</a>
			  
			</div>
			<div class="ui bottom attached active tab segment" data-tab="first">
			  <p>
            DATAX es una compañía fundada el año 2004 y es la primera en el mundo que tiene el propósito
            de reunir TODA la información estadística que produce un país, en bases de datos
            multidimensionales sin límite de temas, abordando datos estadísticos generales como economía,
            población, educación y salud, o temas específicos sectoriales de banca, bolsa de valores,
            telecomunicaciones, energía, minería o comercio exterior, pasando por temas como deportes,
            caminos o clima. Toda esta inmensa cantidad de información local, se complementa con la
            entrega de información internacional relevante y relacionada al acontecer local.
          </p>
          <p>
            El propósito de DATAX es apoyar a toda persona que requiere datos – de cualquier tema
            relacionado a este país – para que pueda alcanzarlos de una forma inmediata, segura, amplia,
            comprensiva y de la manera en que le resulte más cómodo su acceso. Para ello la plataforma
            tecnológica que ha dispuesto DATAX hace que un usuario pueda acceder a los datos desde una
            computadora, desde una tablet o desde su smartphone, puede acceder a datos simples o muy
            puntuales, hasta bases de datos muy completas donde puede analizar décadas de información
            de manera muy sofisticada con múltiples variables simultáneas.
          </p>
          <p>
            El acceso y uso de esta plataforma es básicamente gratuito. El acceso a puntos datos y series de
            datos, así como la instalación de software para PC (Analyze) como aplicaciones móviles (apps) es
            completamente gratuito. DATAX simplemente cobra por la descarga completa de bases de datos
            en formato OLAP, que normalmente son utilizados para estudios profesionales o investigaciones
            profundas. Si quiere conocer más sobre nuestros servicios haga clic aquí. (esto lo lleva a la
            página 9)
          </p>
          <p>
            Respecto a los datos que se proporcionan en nuestro sitio web:
          </p>
          <ul>
            <li>
              DATAX ha seleccionado cuidadosamente las fuentes de información, habiendo clasificado,
              validado y usado exclusivamente fuentes de información serias que sean legítimos proveedores
              de información pública. Si quiere saber más de nuestras fuentes haga clic aquí.
            </li>
            <li>
              Se ha rescatado y reunido toda la información histórica de cada fuente, llegando en algunas
              bases de datos a almacenar más de un siglo de información. Si quiere saber más de nuestras
              bases de datos haga clic aquí.
            </li>
            <li>
              Se mantiene actualizadas las bases de datos, de cada fuente, con la misma periodicidad con que
              la fuente actualiza esos datos, lo que le asegura al usuario contar con la última información
              disponible en el país.    
            </li>
          </ul>
          <p>
            Hoy, DATAX tiene como usuarios en Bolivia a las empresas más grandes de cada sector: bancos,
          </p>

			</div>
			<div class="ui bottom attached tab segment" data-tab="second">
			   <p>
            El acceso y uso de esta plataforma es básicamente gratuito. El acceso a puntos datos y series de
            datos, así como la instalación de software para PC (Analyze) como aplicaciones móviles (apps) es
            completamente gratuito. DATAX simplemente cobra por la descarga completa de bases de datos
            en formato OLAP, que normalmente son utilizados para estudios profesionales o investigaciones
            profundas. Si quiere conocer más sobre nuestros servicios haga clic aquí. (esto lo lleva a la
            página 9)
          </p>
          <p>
            DATAX es una compañía fundada el año 2004 y es la primera en el mundo que tiene el propósito
            de reunir TODA la información estadística que produce un país, en bases de datos
            multidimensionales sin límite de temas, abordando datos estadísticos generales como economía,
            población, educación y salud, o temas específicos sectoriales de banca, bolsa de valores,
            telecomunicaciones, energía, minería o comercio exterior, pasando por temas como deportes,
            caminos o clima. Toda esta inmensa cantidad de información local, se complementa con la
            entrega de información internacional relevante y relacionada al acontecer local.
          </p>
          <p>
            El propósito de DATAX es apoyar a toda persona que requiere datos – de cualquier tema
            relacionado a este país – para que pueda alcanzarlos de una forma inmediata, segura, amplia,
            comprensiva y de la manera en que le resulte más cómodo su acceso. Para ello la plataforma
            tecnológica que ha dispuesto DATAX hace que un usuario pueda acceder a los datos desde una
            computadora, desde una tablet o desde su smartphone, puede acceder a datos simples o muy
            puntuales, hasta bases de datos muy completas donde puede analizar décadas de información
            de manera muy sofisticada con múltiples variables simultáneas.
          </p>
			</div>
			






      
    </div>
  </div>
</section>

<section id='main_section2' class='main_section'>
  <div id='section2' class='section'>
    <div id='s2_title_wrapper'>
      <div id='section2_main_title_container' class='section_main_title_container' data-section-to='2' >
        <div id='section2_main_title' class='section_main_title'>
          Nuestros Usuarios        </div>
      </div>
    </div>
    <div id='center_section2' class='center_section'>
      <div class='section_title'>
        Empresas      </div>
      
      <div class='section_content'>
        <p>
          Las siguientes empresas e instituciones han confiado en nuestros servicios:
        </p>
        <ul>
          <li>Nullam non felis mauris.</li>
          <li>Sed eu rhoncus magna.</li>
          <li>Cras rutrum scelerisque auctor.</li>
          <li>Suspendisse turpis felis, pretium sit amet mollis et, sollicitudin vel eros.</li>
          <li>Nunc vel dui et leo sagittis familiar fringilla.</li>
          <li>Proin a nisi ac arcu varius laoreet. ñ</li>
        </ul>
        <p>
          Sed ullamcorper pulvinar urna, id pharetra arcu dictum sit amet. Integer tincidunt nisi id libero
          tristique aliquet. Quisque sit amet tristique purus. Nunc pharetra, elit ut lobortis vehicula, nisl
          metus tincidunt mauris, vitae accumsan arcu justo sit amet odio. Etiam pharetra, orci sit amet
          lobortis malesuada, risus tellus lacinia leo, id auctor turpis purus sit amet nunc.
        </p>
        <p>
          Sed ullamcorper pulvinar urna, id pharetra arcu dictum sit amet. Integer tincidunt nisi id libero
          tristique aliquet. Quisque sit amet tristique purus. Nunc pharetra, elit ut lobortis vehicula, nisl
          metus tincidunt mauris, vitae accumsan arcu justo sit amet odio. Etiam pharetra, orci sit amet
          lobortis malesuada, risus tellus lacinia leo, id auctor turpis purus sit amet nunc.
        </p>
      </div>

      <div class='section_title'>
        Testimonios      </div>

      <div class='section_content'>
        <p>
          Las siguientes empresas e instituciones han confiado en nuestros servicios:
        </p>
        <ul>
          <li>Nullam non felis mauris.</li>
          <li>Sed eu rhoncus magna.</li>
          <li>Cras rutrum scelerisque auctor.</li>
          <li>Suspendisse turpis felis, pretium sit amet mollis et, sollicitudin vel eros.</li>
          <li>Nunc vel dui et leo sagittis familiar fringilla.</li>
          <li>Proin a nisi ac arcu varius laoreet. ñ</li>
        </ul>
        <p>
          Sed ullamcorper pulvinar urna, id pharetra arcu dictum sit amet. Integer tincidunt nisi id libero
          tristique aliquet. Quisque sit amet tristique purus. Nunc pharetra, elit ut lobortis vehicula, nisl
          metus tincidunt mauris, vitae accumsan arcu justo sit amet odio. Etiam pharetra, orci sit amet
          lobortis malesuada, risus tellus lacinia leo, id auctor turpis purus sit amet nunc.
        </p>
        <p>
          Sed ullamcorper pulvinar urna, id pharetra arcu dictum sit amet. Integer tincidunt nisi id libero
          tristique aliquet. Quisque sit amet tristique purus. Nunc pharetra, elit ut lobortis vehicula, nisl
          metus tincidunt mauris, vitae accumsan arcu justo sit amet odio. Etiam pharetra, orci sit amet
          lobortis malesuada, risus tellus lacinia leo, id auctor turpis purus sit amet nunc.
        </p>
      </div>
    </div>
  </div>
</section>

<section id='main_section3' class='main_section last_main_section'>
  <div id='section3' class='section'>
    <div id='s3_title_wrapper'>
      <div id='section3_main_title_container' class='section_main_title_container' data-section-to='3' >
        <div id='section3_main_title' class='section_main_title'>
          TSE        </div>
      </div>
    </div>
    <div id='center_section3' class='center_section'>
      <div class='section_image' style='background-image: url(http://pplet.com/datax/img/q.png);'></div>

      <div class='section_title'>
        Responsabilidad Social Empresarial      </div>
      
      <div class='section_content'>
        <p>
          Las siguientes empresas e instituciones han confiado en nuestros servicios:
        </p>
        <ul>
          <li>Nullam non felis mauris.</li>
          <li>Sed eu rhoncus magna.</li>
          <li>Cras rutrum scelerisque auctor.</li>
          <li>Suspendisse turpis felis, pretium sit amet mollis et, sollicitudin vel eros.</li>
          <li>Nunc vel dui et leo sagittis familiar fringilla.</li>
          <li>Proin a nisi ac arcu varius laoreet. ñ</li>
        </ul>
        <p>
          Sed ullamcorper pulvinar urna, id pharetra arcu dictum sit amet. Integer tincidunt nisi id libero
          tristique aliquet. Quisque sit amet tristique purus. Nunc pharetra, elit ut lobortis vehicula, nisl
          metus tincidunt mauris, vitae accumsan arcu justo sit amet odio. Etiam pharetra, orci sit amet
          lobortis malesuada, risus tellus lacinia leo, id auctor turpis purus sit amet nunc.
        </p>
        <p>
          Sed ullamcorper pulvinar urna, id pharetra arcu dictum sit amet. Integer tincidunt nisi id libero
          tristique aliquet. Quisque sit amet tristique purus. Nunc pharetra, elit ut lobortis vehicula, nisl
          metus tincidunt mauris, vitae accumsan arcu justo sit amet odio. Etiam pharetra, orci sit amet
          lobortis malesuada, risus tellus lacinia leo, id auctor turpis purus sit amet nunc.
        </p>
      </div>

      <div class='section_title'>
        Networking      </div>

      <div class='section_content'>
        <p>
          <strong>En qué consiste el Programa de Responsabilidad Social Corporativa de DATAX?</strong>
        </p>
        <p>
          DATAX está consciente que la información es una herramienta que puede empoderar
          positivamente a la población. Buena información puede permitir un mejor análisis y en
          consecuencia obtener mejores resultados. Una sociedad puede verse beneficiada por la mejor
          aplicación de políticas públicas, mejores condiciones de empleo, mejores inversiones públicas y
          privadas, mayor y mejor educación y un sinfín de beneficios que conlleva que una sociedad tome
          mejores decisiones y esté mejor informada.
        </p>
        <p>
          Si bien la plataforma tecnológica que ha desarrollado DATAX permite que toda la población de
          forma individual pueda acceder a toda la información sin restricción y sin costo, se considera que
          los servicios Premium que DATAX ofrece, deben llegar también de forma gratuita a instituciones
          que aportan al bienestar de la población de este país. En este sentido, DATAX ha creado su
          Programa de Responsabilidad Social Corporativa (CSR-P) que tiene el propósito de facilitar el
          acceso a diversas instituciones que puedan beneficiarse gratuitamente de los servicios pagados
          que ofrece nuestra compañía.
        </p>
        <p>
          Cuáles son los beneficios que entrega el CSR-P de DATAX?
        </p>
        <p>
          El afiliarse al CSR-P de DATAX le brinda de forma gratuita:
        </p>
      </div>
    </div>
  </div>
</section>		
  </div>
		




</template>
