<!--  database.html -->

<template name="database">




<section class='main_section first_section' id='main_section1'>
  <div class='section left_right_section' id='section_1'>
	<div class='left_section' id='left_section_1'>
      	<h1 class='database_title'>
        Tasas Promedio Ponderadas por Plazo, Emisor y Tipo de Moneda, Valores de Renta Fija. Reporte 
       </h1>
      <p class='database_description'>
        Esta Base de Datos corresponde al detalle de la Tasa Promedio Ponderada por Plazo, Emisor y
          Tipo de Moneda. Valores de Renta Fija. Operaciones en Bolsa: Reporto. Para efectos de
          presentación del gráfico únicamente se muestra en Dólares la evolución de las Tasas Promedio
          Ponderadas de tres importantes Emisores (BIS, BM y BRS), categorizadas según su Plazo (16-30 y
          31-45 días) y Valor (BTS y DPF), desde marzo del año 2007 en adelante. Y además se cuenta con
          esta información también en Bolivianos, Euros, UFV's y del resto de los Emisores, Plazos y
      </p>
      <div class='section_graphic' style='background-image: url(http://pplet.com/datax/img/grafico.jpg);'></div>

		<div class="ui top attached tabular menu">
								  <a class="item active" data-tab="first">Gráfico de muestra</a>
								  <a class="item" data-tab="second">Detalles específicos</a>
								  <a class="item" data-tab="third">Hechos y dimensiones</a>
		</div>
		<div class="ui bottom attached tab segment active" data-tab="first">
			 <IMG SRC="/img/SPIM_1022_MBM.png" WIDTH=550 HEIGHT=400 ALT="CUBE"> 
			 <!-- <div class='section_graphic' style='background-image: url(/img/SPIM_1022_MBM.png);'></div> -->
		</div>
		<div class="ui bottom attached tab segment" data-tab="second">
				
			          <div class='section_data_row'>
			            <div class='section_data_left'>Fecha de Creación por la Fuente:</div>
			            <div class='section_data_right'>
			              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            </div>
			          </div>
			    

		</div>
		<div class="ui bottom attached tab segment" data-tab="third">
			     <div class='section_data_row'>
			            <div class='section_data_left'>Fecha de Creación por la Fuente:</div>
			            <div class='section_data_right'>
			              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            </div>
			     </div>
			      <div class='section_data_row'>
		            <div class='section_data_left'>Fecha de Creación por la Fuente:</div>
		            <div class='section_data_right'>
		              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            </div>
		          </div>
		</div>
	</div>

    <div class='right_section' id='right_section_1'>
      <div class='summary_head'>Resumen</div>
      <div class='summary_body'>
        <div class='database_rating'></div>
        <div class='database_data'>
          <h1 class='database_data_title'>Nombre de la base de datos:</h1>
          <p class='database_data_description'>
            Tasas Promedio Ponderadas por Plazo, Emisor y Tipo de Moneda. Valores de Renta Fija. Reporto ňol          </p>
        </div>
        <div class='database_data'>
          <h1 class='database_data_title'>Fuente:</h1>
          <p class='database_data_description'>
            Autoridad de Supervisión del Sistema Financiero-Valores          </p>
        </div>
        <div class='database_data'>
          <h1 class='database_data_title'>Sigla:</h1>
          <p class='database_data_description'>
            ASFI-Valores          </p>
        </div>
        <div class='database_data'>
          <h1 class='database_data_title'>Frecuencia de actualización:</h1>
          <p class='database_data_description'>
            Mensual          </p>
        </div>
        <div class='database_data'>
          <h1 class='database_data_title'>Ubicación:</h1>
          <p class='database_data_description'>
            Mensual          </p>
        </div>
        <div class='database_data'>
          <h1 class='database_data_title'>Fecha de Creación de Base de Datos:</h1>
          <p class='database_data_description'>
            Mensual          </p>
        </div>
        <div class='database_data'>
          <h1 class='database_data_title'>Frecuencia de actualización:</h1>
          <p class='database_data_description'>
            Mensual          </p>
        </div>
      </div>
    </div>

  </div>


  <div class='section_separator'></div>

<!--  INICIO SECCION TABBBS -->

<div class="ui grid page">
<div class="column">
  <div class="ui segment">
    
    <div class="ui menu top">
        <a class="active item" data-tab="datapointtab"><i class="icon bullseye sign"></i>PUNTOS DE DATOS</a>
        <a class="item" data-tab="dataseriestab"><i class="icon line chart"></i>SERIES DE DATOS</a>
        <a class="item" data-tab="cubetab"><i class="icon cube"></i>BD OLAP</a>
    </div>
    
    <div class="ui tab active" data-tab="datapointtab">
            <div id='tabs-1'>
                          <div class='database_tab_head'>
                            <div class='database_tab_head_wrapper'>
                    <a href='javascript:void(0)' class='database_menu database_share_menu'>
                      <i class="fa fa-share-alt"></i>
                      compartir    <i class="fa fa-chevron-down"></i>
                    </a>

                    <ul class='database_share_tooltip database_tooltip' style='display: none;'>
                      <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-facebook"></i>Facebook</a></li>
                      <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-twitter"></i>Twitter</a></li>
                      <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-linkedin"></i>Linkedin</a></li>
                      <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-pinterest"></i>Pinterest</a></li>
                      <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-google-plus"></i>Google+</a></li>
                    </ul>

                        <a href='javascript:void(0)' class='database_menu database_download_menu'>
                        <i class="fa fa-arrow-circle-o-down"></i>
                        descargar      <i class="fa fa-chevron-down"></i>
                      </a>

                      <ul class='database_download_tooltip database_tooltip' style='display: none;'>
                        <li><a class='database_download_link database_link' href='javascript:void(0)'>Descargar como imagen (PNG)</a></li>
                        <li><a class='database_download_link database_link' href='javascript:void(0)'>Descargar como archivo de Excel (.xls)</a></li>
                      </ul>
                    
                    <a href='javascript:void(0)' class='database_menu database_add_menu'>
                      <i class="fa fa-bookmark"></i>
                      agregar a mis datos    <i class="fa fa-chevron-down"></i>
                    </a>

                    <ul class='database_add_tooltip database_tooltip' style='display: none;'>
                      <li><a class='database_add_link database_link' href='javascript:void(0)'>Guardar la vista actual en mis puntos de datos</a></li>
                      <li><a class='database_add_link database_link' href='javascript:void(0)'>Ver mis puntos de datos guardados</a></li>
                    </ul>
                  </div>        </div>
                          <div class='database_tab_body'>
                            <div class='database_tab_left'>
                              <div class='datapoint_wrapper '>
                    <div class='datapoint_info'>
                      <div class='datapoint_data'>Cotización del Oro</div>
                      <div class='datapoint_origin'>Gobierno Central</div>
                          <div class='datapoint_quantity' style='display: block;'><span class='datapoint_quantity_icon'>▲</span>10.94</div>
                      <div class='datapoint_limits' style='display: block;'>
                        <div class='datapoint_limit datapoint_left' style='display: inline-block;'>-0.21</div>
                        <div class='datapoint_limit datapoint_right' style='display: inline-block;'>-2.25%</div>
                      </div>
                      <a href='javascript:void(0)' class='datapoint_edit_link'>
                        <i class="fa fa-pencil"></i>
                      </a>
                    </div>
                    
                    <div class='datapoint_form'>
                      <form action="/datax/pages/database" id="DataSeriesDisplayForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>    <div class="input select"><label for="DataSeriesData">Dato:</label><select name="data[DataSeries][data]" class="stylized_select" id="DataSeriesData">
                  <option value="">Selecciona un dato</option>
                  <option value="0">Cotización del Oro</option>
                  <option value="1">Cotización de la Plata</option>
                  </select></div>    <div class="input select"><label for="DataSeriesOrigin">Origen:</label><select name="data[DataSeries][origin]" class="stylized_select" id="DataSeriesOrigin">
                  <option value="">Selecciona un origen</option>
                  <option value="0">Gobierno Central</option>
                  <option value="1">INE</option>
                  </select></div>    </form>    <a href='javascript:void(0)' class='datapoint_form_submit'>Listo</a>
                    </div>
                  </div>          </div>
                            <div class='database_tab_right'>
                              <img src="/img/datapoint_chart.jpg" alt="" />          </div>
                          </div>
      </div>
    </div>
    <div class="ui tab" data-tab="dataseriestab">
                  <div id='tabs-2'>
                          <div class='database_tab_head'>
                            <div class='database_tab_head_wrapper'>
                    <a href='javascript:void(0)' class='database_menu database_share_menu'>
                      <i class="fa fa-share-alt"></i>
                      compartir    <i class="fa fa-chevron-down"></i>
                    </a>

                    <ul class='database_share_tooltip database_tooltip' style='display: none;'>
                      <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-facebook"></i>Facebook</a></li>
                      <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-twitter"></i>Twitter</a></li>
                      <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-linkedin"></i>Linkedin</a></li>
                      <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-pinterest"></i>Pinterest</a></li>
                      <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-google-plus"></i>Google+</a></li>
                    </ul>

                        <a href='javascript:void(0)' class='database_menu database_download_menu'>
                        <i class="fa fa-arrow-circle-o-down"></i>
                        descargar      <i class="fa fa-chevron-down"></i>
                      </a>

                      <ul class='database_download_tooltip database_tooltip' style='display: none;'>
                        <li><a class='database_download_link database_link' href='javascript:void(0)'>Descargar como imagen (PNG)</a></li>
                        <li><a class='database_download_link database_link' href='javascript:void(0)'>Descargar como archivo de Excel (.xls)</a></li>
                      </ul>
                    
                    <a href='javascript:void(0)' class='database_menu database_add_menu'>
                      <i class="fa fa-bookmark"></i>
                      agregar a mis datos    <i class="fa fa-chevron-down"></i>
                    </a>

                    <ul class='database_add_tooltip database_tooltip' style='display: none;'>
                      <li><a class='database_add_link database_link' href='javascript:void(0)'>Guardar la vista actual en mis puntos de datos</a></li>
                      <li><a class='database_add_link database_link' href='javascript:void(0)'>Ver mis puntos de datos guardados</a></li>
                    </ul>
                  </div>        </div>
                          <div class='database_tab_body'>
                            <div class='database_tab_left'>
                              <div class='datapoint_wrapper '>
                    <div class='datapoint_info'>
                      <div class='datapoint_data'>Cotización del Oro</div>
                      <div class='datapoint_origin'>Gobierno Central</div>
                          <div class='datapoint_quantity' style='display: inline-block;'><span class='datapoint_quantity_icon'>▲</span>10.94</div>
                      <div class='datapoint_limits' style='display: inline-block;'>
                        <div class='datapoint_limit datapoint_left' style='display: block;'>-0.21</div>
                        <div class='datapoint_limit datapoint_right' style='display: block;'>-2.25%</div>
                      </div>
                      <a href='javascript:void(0)' class='datapoint_edit_link'>
                        <i class="fa fa-pencil"></i>
                      </a>
                    </div>
                    
                    <div class='datapoint_form'>
                      <form action="/datax/pages/database" id="DataSeriesDisplayForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>    <div class="input select"><label for="DataSeriesData">Dato:</label><select name="data[DataSeries][data]" class="stylized_select" id="DataSeriesData">
                  <option value="">Selecciona un dato</option>
                  <option value="0">Cotización del Oro</option>
                  <option value="1">Cotización de la Plata</option>
                  </select></div>    <div class="input select"><label for="DataSeriesOrigin">Origen:</label><select name="data[DataSeries][origin]" class="stylized_select" id="DataSeriesOrigin">
                  <option value="">Selecciona un origen</option>
                  <option value="0">Gobierno Central</option>
                  <option value="1">INE</option>
                  </select></div>    </form>    <a href='javascript:void(0)' class='datapoint_form_submit'>Listo</a>
                    </div>
                  </div>            <div class='datapoint_wrapper empty_datapoint'>
                    <div class='datapoint_info'>
                      <div class='datapoint_data'>Dato</div>
                      <div class='datapoint_origin'>Origen</div>
                          <div class='datapoint_quantity' style='display: inline-block;'><span class='datapoint_quantity_icon'>▲</span>0</div>
                      <div class='datapoint_limits' style='display: inline-block;'>
                        <div class='datapoint_limit datapoint_left' style='display: block;'>0</div>
                        <div class='datapoint_limit datapoint_right' style='display: block;'>0%</div>
                      </div>
                      <a href='javascript:void(0)' class='datapoint_edit_link'>
                        <i class="fa fa-pencil"></i>
                      </a>
                    </div>
                    
                    <div class='datapoint_form'>
                      <form action="/datax/pages/database" id="DataSeriesDisplayForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>    <div class="input select"><label for="DataSeriesData">Dato:</label><select name="data[DataSeries][data]" class="stylized_select" id="DataSeriesData">
                  <option value="">Selecciona un dato</option>
                  <option value="0">Cotización del Oro</option>
                  <option value="1">Cotización de la Plata</option>
                  </select></div>    <div class="input select"><label for="DataSeriesOrigin">Origen:</label><select name="data[DataSeries][origin]" class="stylized_select" id="DataSeriesOrigin">
                  <option value="">Selecciona un origen</option>
                  <option value="0">Gobierno Central</option>
                  <option value="1">INE</option>
                  </select></div>    </form>    <a href='javascript:void(0)' class='datapoint_form_submit'>Listo</a>
                    </div>
                  </div>            <div class='datapoint_wrapper empty_datapoint'>
                    <div class='datapoint_info'>
                      <div class='datapoint_data'>Dato</div>
                      <div class='datapoint_origin'>Origen</div>
                          <div class='datapoint_quantity' style='display: inline-block;'><span class='datapoint_quantity_icon'>▲</span>0</div>
                      <div class='datapoint_limits' style='display: inline-block;'>
                        <div class='datapoint_limit datapoint_left' style='display: block;'>0</div>
                        <div class='datapoint_limit datapoint_right' style='display: block;'>0%</div>
                      </div>
                      <a href='javascript:void(0)' class='datapoint_edit_link'>
                        <i class="fa fa-pencil"></i>
                      </a>
                    </div>
                    
                    <div class='datapoint_form'>
                      <form action="/datax/pages/database" id="DataSeriesDisplayForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>    <div class="input select"><label for="DataSeriesData">Dato:</label><select name="data[DataSeries][data]" class="stylized_select" id="DataSeriesData">
                  <option value="">Selecciona un dato</option>
                  <option value="0">Cotización del Oro</option>
                  <option value="1">Cotización de la Plata</option>
                  </select></div>    <div class="input select"><label for="DataSeriesOrigin">Origen:</label><select name="data[DataSeries][origin]" class="stylized_select" id="DataSeriesOrigin">
                  <option value="">Selecciona un origen</option>
                  <option value="0">Gobierno Central</option>
                  <option value="1">INE</option>
                  </select></div>    </form>    <a href='javascript:void(0)' class='datapoint_form_submit'>Listo</a>
                    </div>
                  </div>            <div class='datapoint_wrapper empty_datapoint'>
                    <div class='datapoint_info'>
                      <div class='datapoint_data'>Dato</div>
                      <div class='datapoint_origin'>Origen</div>
                          <div class='datapoint_quantity' style='display: inline-block;'><span class='datapoint_quantity_icon'>▲</span>0</div>
                      <div class='datapoint_limits' style='display: inline-block;'>
                        <div class='datapoint_limit datapoint_left' style='display: block;'>0</div>
                        <div class='datapoint_limit datapoint_right' style='display: block;'>0%</div>
                      </div>
                      <a href='javascript:void(0)' class='datapoint_edit_link'>
                        <i class="fa fa-pencil"></i>
                      </a>
                    </div>
                    
                    <div class='datapoint_form'>
                      <form action="/datax/pages/database" id="DataSeriesDisplayForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>    <div class="input select"><label for="DataSeriesData">Dato:</label><select name="data[DataSeries][data]" class="stylized_select" id="DataSeriesData">
                  <option value="">Selecciona un dato</option>
                  <option value="0">Cotización del Oro</option>
                  <option value="1">Cotización de la Plata</option>
                  </select></div>    <div class="input select"><label for="DataSeriesOrigin">Origen:</label><select name="data[DataSeries][origin]" class="stylized_select" id="DataSeriesOrigin">
                  <option value="">Selecciona un origen</option>
                  <option value="0">Gobierno Central</option>
                  <option value="1">INE</option>
                  </select></div>    </form>    <a href='javascript:void(0)' class='datapoint_form_submit'>Listo</a>
                    </div>
                  </div>          </div>
                            <div class='database_tab_right'>
                              <img src="/img/datapoint_blue_chart.jpg" alt="" />          </div>
                          </div>
      </div>
    </div>
    <div class="ui tab" data-tab="cubetab">
                        <div id='tabs-3'>
                                  <div class='database_tab_head'>
                                    <div class='database_tab_head_wrapper'>
                                        <a href='javascript:void(0)' class='database_menu database_share_menu'>
                                        <i class="fa fa-share-alt"></i>
                                        compartir<i class="fa fa-chevron-down"></i>
                                        </a>

                                        <ul class='database_share_tooltip database_tooltip' style='display: none;'>
                                        <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-facebook"></i>Facebook</a></li>
                                        <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-twitter"></i>Twitter</a></li>
                                        <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-linkedin"></i>Linkedin</a></li>
                                        <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-pinterest"></i>Pinterest</a></li>
                                        <li><a class='database_share_link database_link' href='javascript:void(0)'><i class="fa fa-google-plus"></i>Google+</a></li>
                                        </ul>

                                        
                                        <a href='javascript:void(0)' class='database_menu database_add_menu'>
                                        <i class="fa fa-bookmark"></i>
                                        agregar a mis datos    <i class="fa fa-chevron-down"></i>
                                        </a>

                                        <ul class='database_add_tooltip database_tooltip' style='display: none;'>
                                        <li><a class='database_add_link database_link' href='javascript:void(0)'>Guardar la vista actual en mis puntos de datos</a></li>
                                        <li><a class='database_add_link database_link' href='javascript:void(0)'>Ver mis puntos de datos guardados</a></li>
                                        </ul>

                                    </div>       
                              </div>
                                  <div class='database_tab_body'>
                                    <div class='database_tab_body_top'>
                                      <div class='database_tab_text'>
                                        <h1>¿Cómo funciona la base de datos?</h1>
                                        <p>Mira el video explicativo, solo te tomará un par de minutos</p>
                                      </div>
                                      <div class='database_tab_video'>
                                        <embed width='545px' height='365px' src='https://www.youtube.com/v/oNuX7bs2qAM'/>
                                      </div>
                                    </div>
                                    <div class='database_tab_body_bottom'>
                                      <h1>obtén esta base de datos</h1>

                                      <div class='database_step_wrapper'>
                                        <div class='database_step' id='database_step_1'>
                                          <div class='database_step_number'>
                                            <h1>Paso</h1>
                                            <p>1</p>
                                          </div>

                                          <div class='database_step_text'>
                                            <div class='database_step_text_top'>
                                              <p>Para ver la base, necesitas un software dedicado</p>
                                            </div>
                                            <div class='database_step_text_bottom'>
                                              <div class='database_step_free_download'>
                                                descarga                      <span class='free_download_big'>gratis</span>
                                              </div>


                                            </div>
                                          </div>
                                        </div>
                                        <div class='database_step' id='database_step_2'>
                                          <div class='database_step_number'>
                                            <h1>Paso</h1>
                                            <p>2</p>
                                          </div>

                                          <div class='database_step_text'>
                                            <h1>Escoge un plan</h1>
                                            <p>y la base de datos se descargará a tu PC</p>
                                          </div>
                                        </div>
                                    </div>

                                      <table class='purchase_table'>
                                        <thead>
                                          <tr>
                                            <th class='wide_column'></th>
                                            <th class='blue_column'>gratis</th>
                                            <th class='orange_column'>compra</th>
                                            <th class='green_column'>suscripción</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class='blue_border_top'>
                                            <td class='wide_column'>
                                              Acceso a datos <strong>desde </strong>03-03-1990 <strong>hasta </strong>04-10-2010                  </td>
                                            <td class='blue_column'><i class="fa fa-check"></i></td>
                                            <td class='orange_column'><i class="fa fa-check"></i></td>
                                            <td class='green_column'><i class="fa fa-check"></i></td>
                                          </tr>
                                          <tr class='blue_border_top'>
                                            <td class='wide_column'>
                                              Acceso a datos <strong>desde </strong>03-03-1990 <strong>hasta </strong>04-10-2010                  </td>
                                            <td class='blue_column empty_cell'><i class="fa fa-circle"></i></td>
                                            <td class='orange_column'><i class="fa fa-check"></i></td>
                                            <td class='green_column'><i class="fa fa-check"></i></td>
                                          </tr>
                                          <tr class='blue_border_top'>
                                            <td class='wide_column'>
                                              Acceso a datos <strong>desde </strong>03-03-1990 <strong>hasta </strong>04-10-2010                  </td>
                                            <td class='blue_column empty_cell'><i class="fa fa-circle"></i></td>
                                            <td class='orange_column empty_cell'><i class="fa fa-circle"></i></td>
                                            <td class='green_column'><i class="fa fa-check"></i></td>
                                          </tr>
                                          <tr class='blue_border_top footer_row'>
                                            <td class='wide_column'><i class="fa fa-lock"></i>infórmate a detalle de nuestros planes</td>
                                            <td class='blue_column'><a href='javascript:void(0)'>Obtener gratis</a></td>
                                            <td class='orange_column'><a href='javascript:void(0)'>Comprar</a></td>
                                            <td class='green_column'><a href='javascript:void(0)'>Suscribirse</a></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                   </div>
    </div>
  </div>
    </div>
  </div>




<!-- FIN SECCION TABS -->
  <div class='section_separator'></div>




  <div class='section database_review_section left_right_section' id='section_3'>
    <div class='database_review_left_section'>
      <div class='database_review_section_title'>Valoraciones</div>
      <div class='database_review_wrapper'>
        <div class='database_review'>
          <div class='database_review_top'>
                        <div class='database_review_photo' style='background-image: url(http://pplet.com/datax/img/profile_photo.jpg);'></div>
            <div class='database_review_right'>
              <div class='database_review_name'>Natalie P.</div>
              <div class='database_review_ranking'></div>
            </div>
          </div>
          <div class='database_review_bottom'>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            </p>
          </div>
        </div>

        <div class='database_review'>
          <div class='database_review_top'>
                        <div class='database_review_photo' style='background-image: url(http://pplet.com/datax/img/profile_photo.jpg);'></div>
            <div class='database_review_right'>
              <div class='database_review_name'>Natalie P.</div>
              <div class='database_review_ranking'></div>
            </div>
          </div>
          <div class='database_review_bottom'>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            </p>
          </div>
        </div>

        <a href='javascript:void(0)' class='login_link_for_comments'>Inicia sesión en Datax para escribir un comentario</a>

        <div class='comment_box'>
          <div class='comment_box_top'>
            <h1 class='comment_box_question'>¿qué te pareció esta base?</h1>
            <div class='comment_box_ranking'></div>
          </div>
          <form action="/datax/pages/database" id="CommentDisplayForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>          <div class='comment_box_middle'><div class="input textarea"><label for="CommentText"></label><textarea name="data[Comment][text]" class="comment_box_textarea" maxlength="430" cols="30" rows="6" id="CommentText"></textarea></div></div>
          <div class='comment_box_bottom'>
            <a href='javascript:void(0)' class='more_link inline_element'>Publicar</a>
          </div>
          </form>        </div>
      </div>
    </div>
    
    <div class='database_review_right_section'></div>
  </div>



     
</section>		

</template>