<template name="principal">

<!--
<div class="ui top attached tabular menu">
  <div class="active item">Tab</div>
</div>
<div class="ui bottom attached active tab segment">
  <p></p>
  <p></p>
</div>
-->


  <div id='header_separator'></div>

<section id='main_section1' class='main_section first_section'>
  <div id='section1' class='section'>
    <div id='center_section1' class='center_section'>
      <div class='section_title'>
        Bienvenido a Datax      </div>
      <p>
        En Datax puedes encontrar información estadística entre más de 2 Billones de bases de datos que puedes personalizar      </p>
      <div id='s1_video'>
        <embed width='630px' height='355px' 
        src='https://www.youtube.com/v/jqaUtcvCXkU' >
          <!-- <embed width="420" height="315"
          src="http://www.youtube.com/v/XGSy3_Czz8k"> -->
      </div>
    </div>
  </div>
</section>

<section id='main_section2' class='main_section'>
  <div id="section2" class='section'>
    <div id='s2_title_wrapper'>
      <div id='section2_main_title_container' class='section_main_title_container' data-section-to='2' >
        <div id='section2_main_title' class='section_main_title'>
          Bases de datos        </div>
      </div>
    </div>
    <div id='center_section2' class='center_section'>
      <div class='section_title'>
        Nuestras bases de datos      </div>
      <p id='s2_subtitle'>
        Encuentra los datos que necesitas de acuerdo a una de nuestras categorías.      </p>
      <div id='section2_content_container'>
        <div class='s2_content'>
  <div id='s2_source_img' class='s2_img'></div>
  <div class='s2_text'>
    <div class='s2_text_title'>
      fuente    </div>
    <div id='s2_source_triangle' class='s2_triangle' data-tooltip-target='source_p'></div>
    <div class='s2_tooltip'>
              <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
            </div>
    <p id='source_p' class='s2_p'>
      En Datax puedes encontrar información estadística entre más de 2 Billones de bases de datos que puedes personalizar    </p>
  </div>
</div><div class='s2_content'>
  <div id='s2_frequency_img' class='s2_img'></div>
  <div class='s2_text'>
    <div class='s2_text_title'>
      frecuencia    </div>
    <div id='s2_source_triangle' class='s2_triangle' data-tooltip-target='frequency_p'></div>
    <div class='s2_tooltip'>
              <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
            </div>
    <p id='frequency_p' class='s2_p'>
      En Datax puedes encontrar información estadística entre más de 2 Billones de bases de datos que puedes personalizar    </p>
  </div>
</div><div class='s2_content'>
  <div id='s2_geographical_level_img' class='s2_img'></div>
  <div class='s2_text'>
    <div class='s2_text_title'>
      nivel geográfico    </div>
    <div id='s2_source_triangle' class='s2_triangle' data-tooltip-target='geographical_level_p'></div>
    <div class='s2_tooltip'>
              <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
            </div>
    <p id='geographical_level_p' class='s2_p'>
      En Datax puedes encontrar información estadística entre más de 2 Billones de bases de datos que puedes personalizar    </p>
  </div>
</div><div class='s2_content'>
  <div id='s2_language_img' class='s2_img'></div>
  <div class='s2_text'>
    <div class='s2_text_title'>
      nivel geográfico    </div>
    <div id='s2_source_triangle' class='s2_triangle' data-tooltip-target='language_p'></div>
    <div class='s2_tooltip'>
              <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
            </div>
    <p id='language_p' class='s2_p'>
      En Datax puedes encontrar información estadística entre más de 2 Billones de bases de datos que puedes personalizar    </p>
  </div>
</div><div class='s2_content'>
  <div id='s2_topic_img' class='s2_img'></div>
  <div class='s2_text'>
    <div class='s2_text_title'>
      nivel geográfico    </div>
    <div id='s2_source_triangle' class='s2_triangle' data-tooltip-target='topic_p'></div>
    <div class='s2_tooltip'>
              <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
                <a href="Javascript:;">link</a><br />
            </div>
    <p id='topic_p' class='s2_p'>
      En Datax puedes encontrar información estadística entre más de 2 Billones de bases de datos que puedes personalizar    </p>
  </div>
</div>      </div>
    </div>
  </div>
</section>  


<section id='main_section3' class='main_section'>
	<div id="section3" class='section'>
		<div id='s3_title_wrapper'>
		  <div id='section3_main_title_container' class='section_main_title_container' data-section-to='3' >
			<div id='section3_main_title' class='section_main_title'>
			  Datos del día        </div>
		  </div>
		</div>
		<!-- s3_top -->
		<div id='s3_top_img'>
		  <div id='s3_top_title'>
			Mayores índices de trabajo en la oficina      </div>
		  <div id='s3_top_title_triangle'>
		  </div>
		  <div id='s3_top_more'>
			<a href="JavaScript:;" class='more_link' >Ver más</a>
		  </div>
		</div>
		<div id='s3_content'>
		  <div id='s3_top_content_container'>
			<div class='s3_content'>
			  <div id='s3_content_img1' class='s3_content_img'></div>
			  <div class='s3_content_text'>
				<div class='s3_content_title'>
				  Lorem Ipsum Dolor sit amet            </div>
				<div class='s3_content_time'>
				  Hace 2 Horas            </div>
				<div class='s3_content_row'>
				  <a href="JavaScript:;" class='s3_content_row_link'></a>
				</div>
			  </div>
			</div>
			<div id='s3_middle_content' class='s3_content'>
			  <div id='s3_content_img2' class='s3_content_img'></div>
			  <div class='s3_content_text'>
				<div class='s3_content_title'>
				  Lorem Ipsum Dolor sit amet            </div>
				<div class='s3_content_time'>
				  Hace 2 Horas            </div>
				<div class='s3_content_row'>
				  <a href="JavaScript:;" class='s3_content_row_link'></a>
				</div>
			  </div>
			</div>
			<div class='s3_content'>
			  <div id='s3_content_img3' class='s3_content_img'></div>
			  <div class='s3_content_text'>
				<div class='s3_content_title'>
				  Lorem Ipsum Dolor sit amet            </div>
				<div class='s3_content_time'>
				  Hace 2 Horas            </div>
				<div class='s3_content_row'>
				  <a href="JavaScript:;" class='s3_content_row_link'></a>
				</div>
			  </div>
			</div>
		  </div>
		  <!-- s3_top_end -->

		  <!-- s3_left_content -->
		  <div id='s3_left_container'>
			<div id='s3_left_day'>
	  <div id='s3_left_day_title' class='s3_left_title'>
		Series del día  </div>
	  <div id='s3_day_content'>
		<div id="tabs">
		  <ul class='ul_tabs'>
			<li id='li_tab1'>
			  <div class='tab_link_main_container'>
				<div class='tab_link_container'>
				  <a href="#tabs-1">Monedas</a>
				</div>
			  </div>
			  <div class='tab_bottom_border'></div>
			</li>
			<li id='li_tab2'>
			  <div class='tab_link_main_container'>
				<div class='tab_link_container'>
				  <a href="#tabs-2">Canasta familiar</a>
				</div>
			  </div>
			  <div class='tab_bottom_border'></div>
			</li>
			<li id='li_tab3'>
			  <div class='tab_link_main_container'>
				<div class='tab_link_container'>
				  <a href="#tabs-3">Insumos de oficina</a>
				</div>
			  </div>
			  <div class='tab_bottom_border'></div>
			</li>
		  </ul>
		  <div id="tabs-1">
			<img src="/datax/img/chart.png" alt="" />      </div>
		  <div id="tabs-2">
			<img src="/datax/img/chart.png" alt="" />      </div>
		  <div id="tabs-3">
			<img src="/datax/img/chart.png" alt="" />      </div>
		</div>
	  </div>
	</div>        
			<div id='s3_left_ranking_container'>
	  <div class='s3_left_title'>
		Rankings  </div>
	  <div class='s3_left_subtitle'>
		Bancos con menor tasa de interés  </div>
	  <div id='s3_ranking_table'>
		<div class='s3_ranking_row'>
		  <div class='s3_ranking_name'>
			Lorem Ipsum      </div>
		  <div class='s3_ranking_right'>
			<div id='s3_ranking_first_position' class='s3_ranking_position'>
			  1
			</div>
			<div class='s3_ranking_value'>
			  <span class='ranking_up_row'>▲</span> 435.78
			</div>
		  </div>
		</div>
		<div class='s3_ranking_row'>
		  <div class='s3_ranking_name'>
			Dolor Sit      </div>
		  <div class='s3_ranking_right'>
			<div class='s3_ranking_position'>
			  2
			</div>
			<div class='s3_ranking_value'>
			  <span class='ranking_up_row'>▲</span> 236.68
			</div>
		  </div>
		</div>
		<div class='s3_ranking_row'>
		  <div class='s3_ranking_name'>
			Amet      </div>
		  <div class='s3_ranking_right'>
			<div class='s3_ranking_position'>
			  3
			</div>
			<div class='s3_ranking_value'>
			  <span class='ranking_up_row'>▲</span> 534.24
			</div>
		  </div>
		</div>
	  </div>
	  <div id='ranking_more_link_container'>
		<a href="JavaScript:;" class='more_link' >Ver más</a>
	  </div>
	</div>
			<div id='left_highter_rate_main_container'>
	  <div class='highter_content_container' id='left_highter_rate_container'>
		<div class='highter_rate_subtitle'>
		  Bancos con mayor tasa de interés    </div>
		<div class='highter_rate_table_container'>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Lorem Ipsum        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				1
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 453.78
			  </div>
			</div>
		  </div>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Dolor Sit        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				2
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 236.68
			  </div>
			</div>
		  </div>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Amaet        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				3
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 534.24
			  </div>
			</div>
		  </div>
		</div>
		<div id='highter_more_left_link_container' class='highter_more_link_container'>
		  <a href="JavaScript:;" class='more_text_link'>Ver más</a>
		</div>
	  </div>
	  <div class='highter_content_container' id='right_highter_rate_container'>
		<div class='highter_rate_subtitle'>
		  Bancos con mayor tasa de interés    </div>
		<div class='highter_rate_table_container'>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Lorem Ipsum        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				1
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 453.78
			  </div>
			</div>
		  </div>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Dolor Sit        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				2
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 236.68
			  </div>
			</div>
		  </div>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Amaet        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				3
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 534.24
			  </div>
			</div>
		  </div>
		</div>
		<div id='highter_more_right_link_container' class='highter_more_link_container'>
		  <a href="JavaScript:;" class='more_text_link'>Ver más</a>
		</div>
	  </div>

	  <div id='left_highter_rate_separator'>
	  </div>

	  <div class='highter_content_container' id='left_highter_rate_container'>
		<div class='highter_rate_subtitle'>
		  Bancos con mayor tasa de interés    </div>
		<div class='highter_rate_table_container'>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Lorem Ipsum        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				1
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 453.78
			  </div>
			</div>
		  </div>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Dolor Sit        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				2
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 236.68
			  </div>
			</div>
		  </div>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Amaet        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				3
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 534.24
			  </div>
			</div>
		  </div>
		</div>
		<div id='highter_more_left_link_container' class='highter_more_link_container'>
		  <a href="JavaScript:;" class='more_text_link'>Ver más</a>
		</div>
	  </div>
	  <div class='highter_content_container' id='right_highter_rate_container'>
		<div class='highter_rate_subtitle'>
		  Bancos con mayor tasa de interés    </div>
		<div class='highter_rate_table_container'>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Lorem Ipsum        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				1
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 453.78
			  </div>
			</div>
		  </div>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Dolor Sit        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				2
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 236.68
			  </div>
			</div>
		  </div>
		  <div class='highter_rate_row'>
			<div class='highter_rate_name'>
			  Amaet        </div>
			<div class='highter_rate_float_right_container'>
			  <div class='s3_highter_position'>
				3
			  </div>
			  <div class='s3_ranking_value'>
				<span class='ranking_up_row'>▲</span> 534.24
			  </div>
			</div>
		  </div>
		</div>
		<div id='highter_more_right_link_container' class='highter_more_link_container'>
		  <a href="JavaScript:;" class='more_text_link'>Ver más</a>
		</div>
	  </div>
	</div>      </div>
		  <!-- s3_left_content_end -->

		  <!-- s3_right_container -->
		  <div id='s3_right_container'>
			<div id='s3_right_day_main_container'>
	  <div id='s3_right_day_main_title_container'>
		Dato del día  </div>
	  <div id='s3_right_day_main_title_container_triangle'></div>
	  <div id='s3_right_day_container'>
		<div id='s3_right_day_title'>
		  Valor del oro    </div>
		<div id='s3_right_day_main_name'>
		  GOG <span class='float_right_content'>503.66</span>
		</div>
		<div id='s3_right_day_secondary_value'>
		  (<span class='rigth_day_up_row'>▲</span>40.6<span class='float_right_content'>+0.8%)</span>
		</div>
		<div class='s3_right_day_subtitle'>
		  Datos Relacionados    </div>
		<div class='s3_right_table_container'>
		  <div class='s3_right_table_row'>
			Lorem Ipsum 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  45.78        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Dolor Sit 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  236.68        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Amet 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  534.24        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Consectetuer 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  236.68        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Adipiscing Elit 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  534.23        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Maecenas Porttitor 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  236.68        </span>
		  </div>
		  <div class='s3_right_table_row no_border_bottom'>
			Congue Mass 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  534.23        </span>
		  </div>
		</div>
		<div id='s3_right_day_more_link_container'>
		  <a href="JavaScript:;" class='more_text_link'>Ver más</a>
		</div>
	  </div>
	</div>
			<div id='s3_news_main_container'>
	  <div id='s3_news_main_title'>
		Novedades en Datax  </div>
	  <div class='s3_news_container'>
		<div class='s3_news_title'>
		  <span class='s3_news_red_title'>
			Nueva Base:  
		  </span>
		  <span class='s3_news_blue_title'>
			Cotización minerales      </span>
		</div>
		<div class='s3_right_table_container'>
		  <div class='s3_right_table_row'>
			Lorem Ipsum 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  45.78        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Dolor Sit 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  236.68        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Amet 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  534.24        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Consectetuer 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  236.68        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Adipiscing Elit 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  534.23        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Maecenas Porttitor 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  236.68        </span>
		  </div>
		  <div class='s3_right_table_row no_border_bottom'>
			Congue Mass 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  534.23        </span>
		  </div>
		</div>
	  </div>
	  <div class='s3_news_container'>
		<div class='s3_news_title'>
		  <span class='s3_news_red_title'>
			Nueva Base:  
		  </span>
		  <span class='s3_news_blue_title'>
			Cotización minerales      </span>
		</div>
		<div class='s3_right_table_container'>
		  <div class='s3_right_table_row'>
			Lorem Ipsum 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  45.78        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Dolor Sit 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  236.68        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Amet 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  534.24        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Consectetuer 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  236.68        </span>
		  </div>
		  <div class='s3_right_table_row'>
			Adipiscing Elit 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  534.23        </span>
		  </div>

		  <div class='s3_right_table_row'>
			Maecenas Porttitor 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  236.68        </span>
		  </div>
		  <div class='s3_right_table_row no_border_bottom'>
			Congue Mass 
			<span class='float_right_content'>
			  <span class='s3_right_table_up_row'>
				▲
			  </span>
			  534.23        </span>
		  </div>
		</div>
	  </div>
	</div>      </div>
		  <!-- s3_right_container_end -->
		</div>
		<div id='s3_bottom'></div>
	</div>
</section>


</template>
