<template name="WelcomeDatax">
	<div id='section1' class='section'>
    <div id='center_section1' class='center_section'>
      <div class='section_title'>
        Bienvenido a Datax      </div>
      <p>
        En Datax puedes encontrar información estadística entre más de 2 Billones de bases de datos que puedes personalizar      </p>
      <div id='s1_video'>
        <embed width='630px' height='355px' 
        src='https://www.youtube.com/v/jqaUtcvCXkU' >
          <!-- <embed width="420" height="315"
          src="http://www.youtube.com/v/XGSy3_Czz8k"> -->
      </div>
    </div>
  </div>

</template>
