<template name="resultHeader">
	<div class='result_header'>
		<a href='javascript:void(0)' class='result_menu result_filter_menu' id='resultFiltros'>
			filtrar<i class="fa fa-chevron-right"></i>
		</a>
		<a href='javascript:void(0)' class='result_menu result_number_menu'>
			10 resultados<i class="fa fa-chevron-down"></i>
		</a>
		<ul class='result_number_tooltip result_tooltip' style='display: none;'>
			<li><a class='result_number_link result_link bold' href='javascript:void(0)'>10 resultados</a></li>
			<li><a class='result_number_link result_link' href='javascript:void(0)'>30 resultados</a></li>
			<li><a class='result_number_link result_link' href='javascript:void(0)'>50 resultados</a></li>
		</ul>
		<a href='javascript:void(0)' class='result_menu result_order_menu'>
				orden<i class="fa fa-chevron-down"></i>
		</a>
		<ul class='result_order_tooltip result_tooltip' style='display: none;'>
		  <li><a class='result_order_link result_link' href='javascript:void(0)'>Relevancia</a></li>
		  <li><a class='result_order_link result_link' href='javascript:void(0)'>Datos más actuales</a></li>
		  <li><a class='result_order_link result_link bold' href='javascript:void(0)'>Datos menos actuales</a></li>
		  <li><a class='result_order_link result_link' href='javascript:void(0)'>Publicación más frecuente</a></li>
		  <li><a class='result_order_link result_link' href='javascript:void(0)'>Publicación menos frecuente</a></li>
		  <li><a class='result_order_link result_link' href='javascript:void(0)'>Datos más frecuentes</a></li>
		  <li><a class='result_order_link result_link' href='javascript:void(0)'>Datos menos frecuentes</a></li>
		  <li><a class='result_order_link result_link' href='javascript:void(0)'>Fuente descendente</a></li>
		  <li><a class='result_order_link result_link' href='javascript:void(0)'>Fuente ascendente</a></li>
		</ul>
		<a href='javascript:void(0)' class='result_menu result_type_menu'>
			ver solo bases de datos<i class="fa fa-chevron-down"></i>
		</a>

		<ul class='result_type_tooltip result_tooltip' style='display: none;'>
		  <li><a class='result_type_link result_link' href='javascript:void(0)'>Ver todo</a></li>
		  <li><a class='result_type_link result_link bold' href='javascript:void(0)'>Solo bases de datos</a></li>
		  <li><a class='result_type_link result_link' href='javascript:void(0)'>Solo carpetas</a></li>
		</ul>
	</div>

</template>