<!-- leftMenu.html -->
<template name="leftMenu">
	  
 <div id="leftMainMenu" class="ui sidebar inverted vertical menu">		
			  <div id='left_main_menu_top_container'>
			    <div id='left_main_menu_title'>
			      Navega por Datax    
			    </div>
			    <div id='left_main_menu_language'>
			      IDIOMA /  LANGUAGE:      
			     <!-- <span id='us_flag' class="flag-icon flag-icon-us flag_wrapper"></span>
			      <span id='sp_flag' class="flag-icon flag-icon-es flag_wrapper" style="border: solid 3px #003399;"></span>-->

			      <i class="ae flag"></i>
					<i class="bo flag"></i>
					<i class="us flag"></i>
			    </div>
			  </div>		 
			 <div class="ui styled accordion">
				<div class="active title">  
				    <i class="dropdown icon"></i>
					    Acerca de Nosotros
				</div>
			    <div class="content">    
		            <div class="accordion">
		            	<div class="content">                  
		                 	<a class="item"  href="{{pathFor 'results'}}" >
					                  <i class="dropup icon"></i>
					                 Resultados de Búsqueda
					                  </a>
									</div>
					            	<div class="content">                  
					                  <a class="item"  href="{{pathFor 'database'}}" >
					                  <i class="dropup icon"></i>
					                 Producto
					                  </a>
									</div>
					              <div class="content">                  
					                  <a class="item"  href="{{pathFor 'company'}}" >
					                  <i class="dropup icon"></i>
					                 Compañia
					                  </a>
					              </div>
					              <div class="content">                  
					                  <a class="item"  href="{{pathFor 'company'}}" >
					                  <i class="dropup icon"></i>
					                  Responsabilidad social
					                  </a>
					              </div>
					              <div class="content">                  
					                  <a class="item"  href="{{pathFor 'principal'}}" >
					                  <i class="dropup icon"></i>
					                  Responsabilidad social
					                  </a>
					              </div>
					            </div>
					    </div>

						<div class="title">  
					    	<i class="dropdown icon"></i>
					    	Productos
					  	</div>
					    <div class="content">    
					            <div class="accordion">
					              <div class="content">                  
					                  <a class="item"  href="{{pathFor 'company'}}" >
					                  <i class="dropup icon"></i>
					                 ANALYZE
					                  </a>
					              </div>
					              <div class="content">                  
					                  <a class="item"  href="{{pathFor 'company'}}" >
					                  <i class="dropup icon"></i>
					                SPIM
					                  </a>
					              </div>
					              <div class="content">                  
					                  <a class="item"  href="{{pathFor 'company'}}" >
					                  <i class="dropup icon"></i>
					                Auditoria 
					                  </a>
					            </div>

					          </div>
					            
					     </div>

						<div class="title">  
					    	<i class="dropdown icon"></i>
					    	 Acceso a la base de datos
					  	</div>
					    <div class="content">    
					            <div class="accordion">
					              <div class="content">                  
					                  <a class="item"  href="{{pathFor 'company'}}" >
					                  <i class="dropup icon"></i>
					                 PaquetesASFI
					                  </a>
					              </div>
					              <div class="content">                  
					                  <a class="item"  href="{{pathFor 'company'}}" >
					                  <i class="dropup icon"></i>
					                Solicita un Paquete Personalizado
					                  </a>
					              </div>
					              <div class="content">                  
					                  <a class="item"  href="{{pathFor 'company'}}" >
					                  <i class="dropup icon"></i>
					                Diseña tu Paquete
					                  </a>
					            </div>
					           </div>
					      </div>

	     </div>
	

</div> <!-- FIN MENU LATERAL Primer DIV -->

</template>