<template name="menuHorizontal">

<div id='header_menu_container' > <!--style='border: 1;border-color: #ebb42e;'> -->
	<div id='header_menu_title'>Navega por:</div>
	<div class='header_menu_link_container no_left_border' data-tp-my='top right' data-tp-at='bottom left' data-adjust='14' >
		<div class="header_menu_link">  
		  <a class="menu tema">Tema</a>  
		</div>
	</div>
	<div class="ui flowing basic tema popup">
	  <div class="ui three column relaxed divided grid">
	    <div class="column">
	      <h4 class="ui header">Estado</h4>
	      <div class="ui link list">
	        <a class="item">Economia</a>
	        <a class="item">Finanzas</a>
	        <a class="item">Gobierno</a>
	        <a class="item">Justicia y Leyes</a>
	      </div>
	    </div>
	    <div class="column">
	      <h4 class="ui header">Medio Ambiente</h4>
	      <div class="ui link list">
	        <a class="item">Medio ambiente</a>
	        <a class="item">Recursos Naturales</a>	        
	      </div>
	    </div>
	    <div class="column">
	      <h4 class="ui header">Sociales</h4>
	      <div class="ui link list">
	        <a class="item">crimen</a>
	        <a class="item">derechos humanos</a>
	        <a class="item">desarrollo</a>
	      </div>
	    </div>
	  </div>
	</div>

	<div class='header_menu_link_container' data-tp-my='top right' data-tp-at='bottom left' data-adjust='14' >
		<div class="header_menu_link">  
		  <a class="menu fuente">Fuente</a>  
		</div>
	</div>
	<div class="ui flowing basic fuente popup">
	  <div class="ui three column relaxed divided grid">
	    <div class="column">	      
	      <div class="ui link list">
	        <a class="item">ADA</a>
	        <a class="item">CNDC</a>
	        <a class="item">APS</a>
	        <a class="item">ASFI</a>
	      </div>
	    </div>
	    <div class="column">	      
	      <div class="ui link list">
	        <a class="item">BCB</a>
	        <a class="item">FINRURAL</a>
	        <a class="item">ASOFIN</a>
	      </div>
	    </div>
	    <div class="column">	      
	      <div class="ui link list">
	        <a class="item">VIPFE</a>
	        <a class="item">ADUANA</a>
	        <a class="item">IBCE</a>
	      </div>
	    </div>
	  </div>
	</div>

	<div class='header_menu_link_container' data-tp-my='top right' data-tp-at='bottom left' data-adjust='14' >
		<div class="header_menu_link">  
		  <a class="menu geografico">Nivel geografico</a>  
		</div>
	</div>
	<div class="ui flowing basic geografico popup">
	  <div class="ui three column relaxed divided grid">
	    <div class="column">	      
	      <div class="ui link list">
	        <a class="item">internacional</a>
	        <a class="item">pais</a>
	        <a class="item">departamento</a>
	        <a class="item">ciudad</a>
	      </div>
	    </div>
	    <div class="column">	      
	      <div class="ui link list">
	        <a class="item">provincia</a>
	        <a class="item">municipio</a>
	        <a class="item">canton</a>
	        <a class="item">seccion</a>
	        <a class="item">no aplica</a>
	      </div>
	    </div>	    
	  </div>
	</div>

	<div class='header_menu_link_container' data-tp-my='top right' data-tp-at='bottom left' data-adjust='14' >	
		<div class="header_menu_link">  
		  <a class="menu idioma">Idioma</a>  
		</div>
	</div>
	<div class="ui flowing basic idioma popup">
	  <div class="ui three column relaxed divided grid">
	    <div class="column">
	      <h4 class="ui header">Idioma Nativo</h4>
	      <div class="ui link list">
	        <a class="item">Español</a>
	        <a class="item">Ingles</a>	        
	      </div>
	    </div>
	    <div class="column">
	      <h4 class="ui header">Displayed</h4>
	      <div class="ui link list">
	        <a class="item">Español</a>
	        <a class="item">Español (traduccion automatica)</a>
	        <a class="item">Ingles</a>
	        <a class="item">Ingles (traduccion automatica)</a>
	      </div>
	    </div>	    
	  </div>
	</div>

	<div class='header_menu_link_container' data-tp-my='top right' data-tp-at='bottom left' data-adjust='14' >	
		<div class="header_menu_link">  
		  <a class="menu frec">Frecuencia</a>  
		</div>
	</div>
	<div class="ui flowing basic frec popup">
	  <div class="ui three column relaxed divided grid">
	    <div class="column">
	      <h4 class="ui header">Periodos</h4>
	      <div class="ui link list">
	        <a class="item">Semanal</a>
	        <a class="item">Mensual</a>
	        <a class="item">Trimestral</a>
	        <a class="item">Semastral</a>
	      </div>
	    </div>
	    <div class="column">
	      <h4 class="ui header">Otros</h4>
	      <div class="ui link list">
	        <a class="item">Irregulares</a>
	        <a class="item">Puntuales</a>
	      </div>
	    </div>	    
	  </div>
	</div>

	
</div><!--s -->

<!-- del PPLET
<div id='header_menu_container'>
	<div id='header_menu_title'>Navega por:</div>
	<div class='header_menu_link_container no_left_border' data-tp-my='top right' data-tp-at='bottom left' data-adjust='14' >
		<a href="JavaScript:;" class='header_menu_link' >Tema</a>
	</div>
	<div class='s2_tooltip header_menu_link_tooltip'>
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
	</div>
	<div class='header_menu_link_container' data-tp-my='top right' data-tp-at='bottom left' data-adjust='14' >
		<a href="JavaScript:;" class='header_menu_link' >Fuente</a>
	</div>
	<div class='s2_tooltip header_menu_link_tooltip'>
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
	</div>
	<div class='header_menu_link_container' data-tp-my='top right' data-tp-at='bottom left' data-adjust='14' >
		<a href="JavaScript:;" class='header_menu_link' >Nivel Geográfico</a>
	</div>
	<div class='s2_tooltip header_menu_link_tooltip'>
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
	</div>
	<div class='header_menu_link_container' data-tp-my='top right' data-tp-at='bottom left' data-adjust='14' >
		<a href="JavaScript:;" class='header_menu_link' >Idioma</a>
	</div>
	<div class='s2_tooltip header_menu_link_tooltip'>
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
	</div>
	<div class='header_menu_link_container' data-tp-my='top right' data-tp-at='bottom left' data-adjust='14' >
		<a href="JavaScript:;" class='header_menu_link' >Frecuencia</a>
	</div>
	<div class='s2_tooltip header_menu_link_tooltip'>
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
		<a href="Javascript:;">link</a><br />
	</div>
</div>
-->


</template>