<!-- footer.html  -->

<template name="footer">

<div id='above_footer_wrapper' class='af_visible'>


<!-- BOTONOES REDONDOS DEL MAIN -->
<!--
   <div id='left_menu_wrapper'>
      <div id='section1_left_link_wrapper' class='left_link_wrapper' data-section-to='1' >
      <div id='left_link1' class='left_link left_link_active'></div>
    </div>
    <div class='left_link_tooltip'>
      inicio    </div>
      <div id='section2_left_link_wrapper' class='left_link_wrapper' data-section-to='2' >
      <div id='left_link2' class='left_link '></div>
    </div>
    <div class='left_link_tooltip'>
      bases de datos    </div>
      <div id='section3_left_link_wrapper' class='left_link_wrapper' data-section-to='3' >
      <div id='left_link3' class='left_link '></div>
    </div>
    <div class='left_link_tooltip'>
      datos del día    </div>
  </div>
  -->
<!-- FIN BOTONES REDONDOS DEL MAIN -->




  <div id='above_footer_toogle_btn_container'>
  <div class='guide_dote' id='footer_guide_dote' data-tp-my='bottom right' data-tp-at='top center'  data-adjust='-10' ></div>
  <div class='guide_tooltip' id='footer_guide_tooltip'>
    <div class='guide_tooltip_title'>
      Barra interactiva    </div>
    <p class='guide_tooltip_p'>
      En esta barra puedes consultar los ultimos datos de Datax rapidamente. Puedes personalizar los datos haciendo clic en el boton del lado izquirdo.    </p>
  </div>
  <div id='above_footer_toogle_btn'>
    <svg version="1.1" id="footer_toogle_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
        <path d="M13.418,7.859c0.271-0.268,0.709-0.268,0.978,0c0.27,0.268,0.272,0.701,0,0.969l-3.908,3.83
        c-0.27,0.268-0.707,0.268-0.979,0l-3.908-3.83c-0.27-0.267-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.978,0L10,11L13.418,7.859z
        "/>
      </svg>  </div>
</div>
  <div class='above_footer_info_wrapper'>
    <div class='above_footer_info_center' >
      <div class='af_menu_btn'>
        Cotización divisas      </div>
      <div class='af_slider_wrapper' style="height: 45px;">
        <p class='af_slider_p af_style'>
            
            <div class='af_slider_content'>              
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>            
            <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
          </p>
      </div>
      <div class='af_slider_separator'></div>
      <i class="fa fa-trash-o af_trash"></i>
    </div>
  </div>

  <div class='above_footer_info_wrapper af_odd_wrapper'>
    <div class='above_footer_info_center'>
      <div class='af_menu_btn'>
        Cotización nasdaq      </div>
      <div class='af_slider_wrapper'  style="height: 45px;">
        <p class='af_slider_p'>
            <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
            <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
            <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
            <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
          </p>
      </div>
      <div class='af_slider_separator'></div>
      <i class="fa fa-trash-o af_trash"></i>
    </div>
  </div>

  <div class='above_footer_info_wrapper'>
    <div class='above_footer_info_center'>
      <div class='af_menu_btn'>
        Cotización Familiar      </div>
      <div class='af_slider_wrapper'  style="height: 45px;">
        <p class='af_slider_p'>
                      <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                        <div class='af_slider_content'>
              <span class='af_slider_name'>
                GOG
              </span>
              <span class='af_value'>
                (<span class='af_up_triangle'>▲</span>40.6 +0.8%)
              </span>
            </div>
                    </p>
      </div>
      <div class='af_slider_separator'></div>
      <i class="fa fa-plus af_trash"></i>
    </div>
  </div>

</div>
<div id='af_main_menu_wrapper'>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.af_menu_name').click(function(){
        $('.af_menu_name_active').removeClass('af_menu_name_active');
        $('.af_menu_triangle_active').removeClass('af_menu_triangle_active');
        $(this).addClass('af_menu_name_active');
        $(this).children().addClass('af_menu_triangle_active');
      }); 
    });
  </script>

  <div class='af_menu_name'>
    Datos Nacionales    <div class='af_menu_triangle'></div>
  </div>

  <div class='af_menu_name'>
    Datos Internacionales    <div class='af_menu_triangle'></div>
  </div>

  <div class='af_menu_name'>
    Mis puntos de datos    <div class='af_menu_triangle'></div>
  </div>
</div>

  <div id='af_sub_menu_wrapper'>
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
        <a href="Javascript:;">link</a><br />
    </div>
          <footer>
            <div id='footer_center_container'>
            <div id='footer_social_title'>
              Mantente en contacto:    </div>

            <div id='footer_social_links'>
              <a href="JavaScript:;" class='footer_social_link' id='linkedin_footer_link'>
              <svg version="1.1" id="linkedin_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
              <path d="M10,0.4c-5.302,0-9.6,4.298-9.6,9.6s4.298,9.6,9.6,9.6s9.6-4.298,9.6-9.6S15.302,0.4,10,0.4z M7.65,13.979H5.706V7.723H7.65
              V13.979z M6.666,6.955c-0.614,0-1.011-0.435-1.011-0.973c0-0.549,0.409-0.971,1.036-0.971c0.627,0,1.011,0.422,1.023,0.971
              C7.714,6.52,7.318,6.955,6.666,6.955z M14.75,13.979h-1.944v-3.467c0-0.807-0.282-1.355-0.985-1.355
              c-0.537,0-0.856,0.371-0.997,0.728c-0.052,0.127-0.065,0.307-0.065,0.486v3.607H8.814v-4.26c0-0.781-0.025-1.434-0.051-1.996h1.689
              l0.089,0.869h0.039c0.256-0.408,0.883-1.01,1.932-1.01c1.279,0,2.238,0.857,2.238,2.699V13.979z"/>
              </svg>      </a>

              <a href="JavaScript:;" class='footer_social_link' id='twitter_footer_link'>
              <svg version="1.1" id="twitter_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
              <path d="M10,0.4c-5.302,0-9.6,4.298-9.6,9.6s4.298,9.6,9.6,9.6s9.6-4.298,9.6-9.6S15.302,0.4,10,0.4z M13.905,8.264
              c0.004,0.082,0.005,0.164,0.005,0.244c0,2.5-1.901,5.381-5.379,5.381c-1.068,0-2.062-0.312-2.898-0.85
              c0.147,0.018,0.298,0.025,0.451,0.025c0.886,0,1.701-0.301,2.348-0.809c-0.827-0.016-1.525-0.562-1.766-1.312
              c0.115,0.021,0.233,0.033,0.355,0.033c0.172,0,0.34-0.023,0.498-0.066c-0.865-0.174-1.517-0.938-1.517-1.854V9.033
              C6.257,9.174,6.549,9.26,6.859,9.27C6.351,8.93,6.018,8.352,6.018,7.695c0-0.346,0.093-0.672,0.256-0.951
              c0.933,1.144,2.325,1.896,3.897,1.977c-0.033-0.139-0.049-0.283-0.049-0.432c0-1.043,0.846-1.891,1.891-1.891
              c0.543,0,1.035,0.23,1.38,0.598c0.431-0.086,0.835-0.242,1.2-0.459c-0.141,0.441-0.44,0.812-0.831,1.047
              c0.383-0.047,0.747-0.148,1.086-0.299C14.595,7.664,14.274,7.998,13.905,8.264z"/>
              </svg>      </a>

              <a href="JavaScript:;" class='footer_social_link' id='facebook_footer_link'>
              <svg version="1.1" id="facebook_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                <path d="M10,0.4c-5.302,0-9.6,4.298-9.6,9.6s4.298,9.6,9.6,9.6s9.6-4.298,9.6-9.6S15.302,0.4,10,0.4z M12.274,7.034h-1.443
                c-0.171,0-0.361,0.225-0.361,0.524V8.6h1.805l-0.273,1.486H10.47v4.461H8.767v-4.461H7.222V8.6h1.545V7.726
                c0-1.254,0.87-2.273,2.064-2.273h1.443V7.034z"/>
              </svg>      </a>

              <a href="JavaScript:;" class='footer_social_link' id='plus_footer_link'>
              <svg version="1.1" id="plus_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
              <path d="M10,0.4c-5.302,0-9.6,4.298-9.6,9.6s4.298,9.6,9.6,9.6s9.6-4.298,9.6-9.6S15.302,0.4,10,0.4z M9.447,14.121
              c-0.603,0.293-1.252,0.324-1.503,0.324c-0.048,0-0.075,0-0.075,0s-0.023,0-0.054,0c-0.392,0-2.343-0.09-2.343-1.867
              c0-1.746,2.125-1.883,2.776-1.883h0.017c-0.376-0.502-0.298-1.008-0.298-1.008C7.934,9.689,7.886,9.691,7.827,9.691
              c-0.245,0-0.718-0.039-1.124-0.301c-0.498-0.32-0.75-0.865-0.75-1.619c0-2.131,2.327-2.217,2.35-2.219h2.324v0.051
              c0,0.26-0.467,0.311-0.785,0.354C9.734,5.973,9.517,5.994,9.456,6.025c0.589,0.315,0.684,0.809,0.684,1.545
              c0,0.838-0.328,1.281-0.676,1.592C9.248,9.355,9.079,9.506,9.079,9.709c0,0.199,0.232,0.402,0.502,0.639
              c0.441,0.389,1.046,0.918,1.046,1.811C10.627,13.082,10.23,13.742,9.447,14.121z M14.5,10H13v1.5h-1V10h-1.5V9H12V7.5h1V9h1.5V10z
              M8.223,11.15c-0.052,0-0.104,0.002-0.157,0.006c-0.444,0.033-0.854,0.199-1.15,0.469c-0.294,0.266-0.444,0.602-0.423,0.941
              c0.045,0.711,0.808,1.127,1.735,1.061c0.912-0.066,1.52-0.592,1.476-1.303C9.662,11.656,9.081,11.15,8.223,11.15z M9.097,7.285
              c-0.242-0.85-0.632-1.102-1.238-1.102c-0.065,0-0.131,0.01-0.194,0.027C7.402,6.285,7.193,6.504,7.077,6.83
              C6.958,7.16,6.951,7.504,7.053,7.896c0.185,0.701,0.683,1.209,1.185,1.209c0.066,0,0.132-0.008,0.194-0.027
              C8.981,8.924,9.325,8.086,9.097,7.285z"/>
              </svg>      </a>

              <a href="JavaScript:;" class='footer_social_link' id='pinterest_footer_link'>
              <svg version="1.1" id="pinterest_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
              <path d="M10,0.4c-5.302,0-9.6,4.298-9.6,9.6s4.298,9.6,9.6,9.6s9.6-4.298,9.6-9.6S15.302,0.4,10,0.4z M10.657,12.275
              c-0.616-0.047-0.874-0.352-1.356-0.644c-0.265,1.391-0.589,2.725-1.549,3.422c-0.297-2.104,0.434-3.682,0.774-5.359
              C7.947,8.719,8.595,6.758,9.817,7.24c1.503,0.596-1.302,3.625,0.581,4.004c1.966,0.394,2.769-3.412,1.55-4.648
              c-1.762-1.787-5.127-0.041-4.713,2.517c0.1,0.625,0.747,0.815,0.258,1.678c-1.127-0.25-1.464-1.139-1.42-2.324
              c0.069-1.94,1.743-3.299,3.421-3.486c2.123-0.236,4.115,0.779,4.391,2.777C14.194,10.012,12.926,12.451,10.657,12.275z"/>
              </svg>      </a>
            </div>

            <div id='footer_right_content'>
              <span class='footer_right_separator'></span>
              <a href="JavaScript:;" class='footer_right_link'>Mapa del sitio</a>
              <span class='footer_right_separator'></span>
              <a href="JavaScript:;" class='footer_right_link'>Aviso legal</a>
              <span class='footer_right_separator'></span>
              <a href="JavaScript:;" class='footer_right_link'>Acerca del sitio</a>
            </div>
            </div>
          </footer>   



</template>